.static-page h1,.static-page h2,.static-page h3,.static-page h4,.static-page h5,.static-page h6 {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: normal;
}
.static-page h1 {
    font-size: 2.25rem;
}
.static-page h2 {
    font-size: 2rem;
}
.static-page h3 {
    font-size: 1.75rem;
}
.static-page h4 {
    font-size: 1.125rem;
}
.static-page h5, .static-page h6 {
    font-size: 1rem;
}
.static-page p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.static-page hr {
    margin: 1rem 0;
}
.static-page a {
    color: #040046;
    transition: all 0.5s;
    font-weight: 600;
    display: inline-block;
    text-decoration: underline;
}
.static-page ul {
    list-style-type: disc;
    padding-left: 1.125rem;
}
.static-page ol {
    list-style-type: decimal;
    padding-left: 1.125rem;
}
.static-page pre {
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    font-weight: 400;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding: .8571429em 1.1428571em;
}
.static-page table {
    width: 100%;
    margin-bottom: 1.25rem;
}
.static-page td, th {
    padding: 1rem;
    border: 1px solid;
    min-width: 5rem;
}
.static-page iframe {
    aspect-ratio: 16 / 9;
}
@media screen and (max-width: 768px) {
    .static-page h1 {
        font-size: 2rem;
    }
    .static-page h2 {
        font-size: 1.75rem;
    }
    .static-page h3 {
        font-size: 1.5rem;
    }
}