@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-secondary;
  } 
}
.carousel {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slide {
  scroll-snap-align: start;
}
::-webkit-scrollbar{
  -webkit-appearance: none;
  width: .25rem;
  height: .375rem;
}
::-webkit-scrollbar-thumb{
  border-radius: .25rem;
  background-color: #040046;
  box-shadow: 0 0 1px #040046;
}
